@charset "utf-8";

/* Variables */
:root{
    /* Colors */

    /* Background Colors */

    /* Font */
}

/* General rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{scroll-behavior: smooth;}

.container{
    width: 80%;
    margin: 0 auto;
}

.flex{display: flex;}

.grid{display: grid;}

/* Header Style */

/* Home Style */

/* About Style */

/* Event Style */

/* Blog Style */

/* Contact Style */

/* Footer Style */